<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <h4 class="text-center">SJ Dev</h4>
    <%- include('nav.html') %>

    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">기본 정보</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Skill</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">자기소개</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
    </div>
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      <h4 id="list-item-1">기본 정보</h4>
      <p>E-mail: msj07197@naver.com / Phone number: 010-8518-3581 / GitHub: <a href="https://github.com/tjdwn154">https://github.com/tjdwn154</a> / Date of Birth : 1997. 07. 19</p>
      <hr/>
      <h4 id="list-item-2">Skill</h4>
      <p><ion-icon name="logo-javascript"></ion-icon>JavaScript,
         <ion-icon name="logo-html5"></ion-icon>HTML5,
         <ion-icon name="logo-css3"></ion-icon>CSS,
         <ion-icon name="logo-nodejs"></ion-icon>Node.js,
         <ion-icon name="logo-nodejs"></ion-icon>React,
         MongoDB
        </p>
      <hr/>
      <h4 id="list-item-3">자기소개</h4>
      <p>[성장과정]<br/>
        남들과 같이 평범하게 중학교를 나와 인문 고등학교를 진학하고 대학 진학에 대해 생각하고 있었습니다. 4차 산업혁명의 관련하여 이야기를 많이 듣게 되면서 IT에 대해 찾아보았고 항상 가까이서 접해 있던 웹, 모바일, IOT 같은 요소들이 더욱 발전해 나가고 있는 것을 보며 배우고 싶다는 생각이 들어 컴퓨터공학을 지원하게 되었습니다. 대학생활을 타지에서 하게되면서 가족들, 친구들과 떨어져 지내면서 외롭고 쓸쓸하기도 하였지만 보다 성숙하고 새로운 사람들을 만나는 방법을 알게되는 보다 좋은 계기가 되었습니다. 새로운 친구들과 같이 교내 프로젝트를 진행하면서 내가 부족한점들을 찾아 피드백을 받고 더욱 더 공부하며 남들에게 폐를 끼치지않기위해 노력했습니다. 노력한 결과로 제가 맡은 일은 물론 힘들어 하는 친구들을 도와줄 수 있는 능력이 생겼고, 더욱 컴퓨터공학의 전공에 전문성을 쌓았다고 생각합니다.
        <br/><br/>
        [성격의 장단점]<br/>
        제 성격의 장점은 책임감을 가져 주어진 일에 최선을 다하는 것이며, 그것을 바탕으로 신뢰를 받을 수 있는 사람으로 보이려 노력해 왔습니다. 교내 캡스톤디자인 프로젝트에서 제가 맡은 부분에 대한 책임감을 느끼고 프로젝트에 임했습니다. 그 결과, 제가 가진 책임감으로 맡은 부분을 완성하고 프로젝트 일원들에게 좋은 신뢰를 얻었습니다.
        단점으로는 다소 소심한 성격이라는 것입니다. 졸업과제 팀 프로젝트에서 발표할 때 순간적으로 긴장감이 고도 되어 소통의 미흡한 점이 있다는 것을 인지하였습니다. 이 부분을 개선하기 위해 친구들에게 저의 발표 능력과 보완해야 할 점이 있는지 물어봤고 객관적인 시점에서 자신의 문제점이 무엇인지 파악하였습니다. 발표 시의 태도와 전달력을 극대화하기 위해 끝없는 연습을 반복하며 상황이 주는 긴장감은 여전하더라도 전달하는 내용의 핵심에 포인트를 주고 목소리를 보다 크게 하여 전달력을 높이는 방법을 터득하여 발표를 체화하였습니다. 결론적으로 프로젝트 발표를 성공적으로 마칠 수 있었으며 친구들과 교수님들의 아낌없는 칭찬에 자신의 사기가 높아져 성취감을 느꼈고 대중 앞에서 자신 있게 발표할 수 있는 성향으로 바뀌게 되었습니다.</p>
        <hr/>
      <h4 id="list-item-4">학력</h4>
      <p>2014.03 ~ 2016.02<br/>
        마산가포고등학교, 이과계열<br/><br/><br/>
        2016.03 ~ 2023.02<br/>
        부산 동명대학교, 컴퓨터공학과
      </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
